<div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="row">

        <div class="col-sm-2">

  <div class="loginStatus">
<p class="status good" ng-show-auth>Hello! You are logged in.</p>
<p class="status" ng-hide-auth>Not logged in</p>
<p class="status error" ng-hide-auth>{{auth.error}}</p>
</div>

</div>


<div class="col-sm-5">
<h2>Account</h2>

<form>
    <fieldset>
        <legend>Profile</legend>

        <label>
            <span>Name:</span>
            <input type="text" name="name" ng-model="profile.name"/>
        </label>

        <!-- <label>
            <span>Email:</span>
            <br />{{profile.email}}
        </label> -->

                <label>
            <span>Email:</span>
            <input type="text" name="name" ng-model="profile.email"/>
        </label>

        <label>
            <span>Weight:</span>
            <input type="text" name="name" ng-model="profile.weight"/>
        </label>

        <label>
            <span>Cardio:</span>
            <input type="text" name="name" ng-model="profile.cardio"/>
        </label>

        <label>
            <span>ExerciseOne:</span>
            <input type="text" name="name" ng-model="profile.exone"/>
        </label>

        <label>
            <span>ExerciseTwo:</span>
            <input type="textarea" cols="20" rows="4" name="name" ng-model="profile.extwo"/>
        </label>
    </fieldset>
</form>

<form>
    <fieldset>
        <legend>Change Password</legend>

        <label>
            <span>Old Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="oldpass"/>
        </label>

        <label>
            <span>New Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="newpass"/>
        </label>

        <label>
            <span>Confirm New Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="confirm"/>
        </label>

        <button ng-click="changePassword(oldpass, newpass, confirm)">change password</button>

        <p class="error" ng-show="err">{{err}}</p>
        <p class="good" ng-show="msg">{{msg}}</p>
    </fieldset>
</form>

<form>
    <fieldset>
        <legend>Change Email</legend>

        <label>
            <span>New Email:</span>
            <input type="text" ng-keypress="clear()" ng-model="newEmail"/>
        </label>

        <label>
            <span>Password:</span>
            <input type="password" ng-keypress="clear()" ng-model="pass"/>
        </label>

        <button ng-click="changeEmail(pass, newEmail)">update email</button>

        <p class="error" ng-show="emailerr">{{emailerr}}</p>
        <p class="good" ng-show="emailmsg">{{emailmsg}}</p>
    </fieldset>
</form>
</div>

<div class="col-sm-5">
<form>
  <input placeholder="Message..." ng-model="newMessage">
  <input placeholder="Message..." ng-model="newExer01">
  <input placeholder="Message..." ng-model="newExer02">
  <button type="submit" ng-click="addMessage(newMessage, newExer01, newExer02);newMessage = null;">send</button>
</form>
<!-- <pre></pre> -->
<ul id="messages" ng-show="messages" ng-repeat="message in messages">
    <li>
    
    <h4>{{message.text}}</h4>
    <h5>{{message.exer01}}</h5>
    <h5>{{message.exer02}}</h5>
    </li>
</ul>

<button ng-click="logout()">Log Out</button>
</div>

</div>
</div>
</div>
</div>
</div>